@page "/Error"
@using System.Diagnostics
@inject ILocService Loc

<PageTitle>@Loc["error.page_title"]</PageTitle>

<h1 class="su-text-danger">@Loc["error.heading"]</h1>
<h2 class="su-text-danger">@Loc["error.subheading"]</h2>

@if (ShowRequestId)
{
    <p>
        <strong>@Loc["error.request_id"]</strong> <code>@RequestId</code>
    </p>
}

<h3>@Loc["error.dev_mode"]</h3>
<p>
    @Loc["error.dev_mode_text"]
</p>
<p>
    @Loc["error.dev_mode_warning"]
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
