@inject IKVDataService KVData
@inject ILocService Loc
@attribute [PluginPanel("panel.qdrant_api_config", "panel.qdrant_api_config.desc")]
<div class="su-group su-flex su-flex-col su-gap-3">
	<div class="su-form-group">
		<label class="su-label">@Loc["api_config.qdrant_host"]</label>
		<input class="su-input" type="text" @bind="Host" placeholder="@Loc["api_config.qdrant_host_placeholder"]"/>
	</div>
	<div style="font-size: 0.72em; color: var(--su-text-1); margin-top: 8px; padding: 6px 8px; background: var(--su-surface-3); border-left: 3px solid var(--su-border-0); border-radius: 2px; line-height: 1.5;">
        @Loc["api_config.qdrant_host_warning"]
    </div>
	<div class="su-form-group">
		<label class="su-label">@Loc["api_config.qdrant_port"]</label>
		<input class="su-input" type="text" @bind="Port" placeholder="@Loc["api_config.qdrant_port_placeholder"]" />
	</div>
	<div class="su-form-group">
		<label class="su-label">@Loc["api_config.qdrant_apikey"]</label>
		<input class="su-input" type="text" @bind="ApiKey" placeholder="@Loc["api_config.qdrant_apikey_placeholder"]" />
	</div>
	<div class="su-form-group">
		<label class="su-label">@Loc["api_config.qdrant_dim"]</label>
		<input class="su-input" type="text" @bind="Dim" placeholder="@Loc["api_config.qdrant_dim_placeholder"]" />
	</div>
</div>


@code {
	string? Host 
	{
		get;
		set {
			if (field == value)
				return;
			if (value == null)
				return;
			field = value;
			Save();
		}
	}
	string? Port
	{
		get;
		set
		{
			if (field == value)
				return;
			if (value == null)
				return;
			field = value;
			Save();
		}
	}
	string? ApiKey
	{
		get;
		set
		{
			if (field == value)
				return;
			if (value == null)
				return;
			field = value;
			Save();
		}
	}
	string? Dim
	{
		get;
		set
		{
			if (field == value)
				return;
			if (value == null)
				return;
			field = value;
			Save();
		}
	}


	void Save()
	{
		if (!Initialized)
			return;
		KVData.Write("QdrantAPI", "host", Host);
		KVData.Write("QdrantAPI", "port", Port);
		KVData.Write("QdrantAPI", "apikey", ApiKey);
		KVData.Write("QdrantAPI", "dim", Dim);
	}

	bool Initialized = false;

	protected override void OnInitialized()
	{
		Host = KVData.Read("QdrantAPI", "host") ?? string.Empty;
		Port = KVData.Read("QdrantAPI", "port") ?? string.Empty;
		ApiKey = KVData.Read("QdrantAPI", "apikey") ?? string.Empty;
		Dim = KVData.Read("QdrantAPI", "dim") ?? string.Empty;
		Initialized = true;
	}
}
